<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         stopOnFailure="false"
         colors="true"
         verbose="false">
    <testsuites>
        <testsuite name="MailReader Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./vendor</directory>
        </exclude>
    </coverage>
</phpunit>